[submodule "spark-session-utils"]
	path = spark-session-utils
	url = https://github.com/Skyscanner/spark-session-utils.git
[submodule "data-shared-utils"]
	path = data-shared-utils
	url = https://github.com/Skyscanner/data-shared-utils.git
[submodule "data-catalog-utils"]
	path = data-catalog-utils
	url = https://github.com/Skyscanner/data-catalog-utils.git
[submodule "data-observability-utils"]
	path = data-observability-utils
	url = https://github.com/Skyscanner/data-observability-utils.git
[submodule "data-quality-utils"]
	path = data-quality-utils
	url = https://github.com/Skyscanner/data-quality-utils.git
[submodule "data-project-templates/blue-data-nova-cookiecutter"]
	path = data-project-templates/blue-data-nova-cookiecutter
	url = https://github.com/Skyscanner/blue-data-nova-cookiecutter.git

